<html>
  <head>
    <title>SITE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    Welcome to SITE, this site will be live shortly...
  </body>
</html>
